<header>
  <div class="logo">Camille Allard</div>
  <input type="checkbox" id="burger-toggle" class="burger-toggle">
  <label for="burger-toggle" class="burger-btn" aria-label="Ouvrir le menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
    <ul>
      <li><a href="#about">À Propos</a></li>
      <li><a href="#xp-pro">Expérience professionnelle</a></li>
      <li><a href="#stack-technique">Stack</a></li>
      <li><a href="#training">Formations</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
