<section class="hero" id="about">
  <img id="profile-picture" src="MaPhoto.webp" alt="Photo de Camille Allard">
  <h1>Développeuse <span>Full-stack</span></h1>
  <p>
    Après 15 ans d’activité en tant qu'éducatrice spécialisée, j'ai choisi de mettre mon sens de l'analyse et mes qualités humaines au service du monde passionnant du développement logiciel.
  </p>
  <p>
    Ma formation de Conceptrice Développeuse d’Applications effectuée en alternance au sein de l'entreprise Cadulis m’a permis de monter rapidement en compétences sur l’ensemble du cycle du développement logiciel.
  </p>
  <p>
    Je suis prête et très motivée pour intégrer une nouvelle équipe de développeurs afin de mettre en œuvre et continuer à développer l'ensemble de ces compétences !
  </p>
  <div class="btn-group">
    <a href="#contact" class="btn btn-secondary">Me contacter</a>
  </div>
</section>
